.myreactions-container {
  padding: 5px 5px 5px 5px;
  border-top: 1px solid #ccc;
  border-bottom: 1px dotted #ccc;
}
.myreactions-container.myreactions-profile-container {
  padding: 0;
  border: 0;
}
.myreactions-reactions, .myreactions-reaction {
  background: #f5f5f5;
  border: 1px solid #ccc;
  display: inline-block;
  border-radius: 6px;
  color: #555;
}
.myreactions-reaction.myreactions-reacted {
    border: 2px solid #aaa;
}
.myreactions-reactions:hover, .myreactions-reaction:hover {
  border: 1px solid #aaa;
}
.myreactions-container:hover .myreactions-reaction.myreactions-reacted {
  border: 2px solid #8bc34a;
}
.myreactions-container:hover .myreactions-reaction.myreactions-reacted:hover {
  border: 2px solid #f44336;
}
.myreactions-reaction {
  display: inline-block;
  margin: 3px 2px;
  padding: 5px;
  float: left;
}
.myreactions-reaction.myreactions-reacted {
    margin: 2px;
}
.myreactions-reactions {
  float: left;
  margin-right: 5px;
}
.myreactions-reaction span {
  float: right;
  margin-left: 5px;
}
.myreactions-reactions img {
  margin: 5px;
  float: left;
  display: inline-block;
}
.myreactions-forumdisplay-thread img {
    margin: 2px;
}

/* Add Reaction, Reacted, Hovers */
.reaction-hover-show {
  /*display: none;*/
  margin: 0;
  float: left;
  cursor: pointer;
}
.reaction-add span {
  display: none;
}
.myreactions-reaction + .reaction-add, .myreactions-reaction + .reaction-reacted {
  margin: 3px 2px 0px 10px;
}
.myreactions-reactions + .reaction-add, .myreactions-reactions + .reaction-reacted {
  margin: 0px 2px 0px 5px;
}
.myreactions-reaction + .reaction-add + .reaction-reacted {
  margin-top: 3px;
}
.myreactions-reactions + .reaction-add + .reaction-reacted {
  margin-top: 0;
}
.reaction-add + .reaction-reacted {
  margin-left: 2px;
}
.myreactions-container:hover .reaction-hover-show, .reaction-add.reaction-add-force, .reaction-add.reaction-add-force span {
  display: inline-block;
}
.myreactions-container.myreactions-post:hover .myreactions-reactions > img, .myreactions-container.myreactions-post:hover .myreactions-reaction {
  opacity: 0.25;
}
.myreactions-container.myreactions-post:hover .myreactions-reactions > img.myreactions-reacted, .myreactions-container.myreactions-post:hover .myreactions-reaction.myreactions-reacted, .myreactions-container.myreactions-post:hover .reaction-hover-show {
  opacity: 1;
  cursor: pointer;
}

/* Reaction and Reacted Modal */
.myreactions-post-reacted {
  max-height: 500px;
  overflow: auto;
}
.myreactions-react img, .myreactions-post-reacted img {
  width: 24px;
  height: 24px;
  padding: 5px;
}
.reaction-add, .myreactions-react img {
  cursor: pointer;
}
.myreactions-react img.disabled {
  cursor: not-allowed;
  opacity: 0.25;
  -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.myreactions-post-reacted .myreactions_reacted_row_hidden {
  display: none;
}
.myreactions-post-reacted label {
  cursor: pointer;
}

/* Reaction image sizes */
.myreactions-container.reactions-16 img {
  width: 16px;
  height: 16px;
}
.myreactions-container.reactions-16 .myreactions-reaction span {
  font-size: 12px;
  line-height: 16px;
}
.myreactions-container.reactions-16 .myreactions-reactions .reaction-add + span {
  font-size: 12px;
  line-height: 26px;
}
.myreactions-container.reactions-20 img {
  width: 20px;
  height: 20px;
}
.myreactions-container.reactions-20 .myreactions-reaction span {
  font-size: 13px;
  line-height: 20px;
}
.myreactions-container.reactions-20 .myreactions-reactions .reaction-add + span {
  font-size: 13px;
  line-height: 30px;
}
.myreactions-container.reactions-24 img {
  width: 24px;
  height: 24px;
}
.myreactions-container.reactions-24 .myreactions-reaction span {
  font-size: 14px;
  line-height: 24px;
}
.myreactions-container.reactions-24 .myreactions-reactions .reaction-add + span {
  font-size: 14px;
  line-height: 34px;
}
.myreactions-container.reactions-28 img {
  width: 28px;
  height: 28px;
}
.myreactions-container.reactions-28 .myreactions-reaction span {
  font-size: 15px;
  line-height: 28px;
}
.myreactions-container.reactions-28 .myreactions-reactions .reaction-add + span {
  font-size: 15px;
  line-height: 38px;
}
.myreactions-container.reactions-32 img {
  width: 32px;
  height: 32px;
}
.myreactions-container.reactions-32 .myreactions-reaction span {
  font-size: 16px;
  line-height: 32px;
}
.myreactions-container.reactions-32 .myreactions-reactions .reaction-add + span {
  font-size: 16px;
  line-height: 42px;
}
